SUPABASE_URL=https://krhkhlewcwzkcxragexv.supabase.co
SUPABASE_KEY=sb_publishable_Z2zj4agFsQoqe8XXBCQEeQ_tlzQJJG0
SUPABASE_BUCKET=materials
JWT_SECRET=a7kp9xQ2MZrT5vl8NC1sD6hW4eY0uB3fJ
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
CORS_ORIGINS=http://localhost:5173
